:root {
    --clr: #a4b4ce;
    --color-border: black;
    --color-card: white;
    --font-weigth-regular: 400;
    --font-weigth-bold: 700;
    --spacer: 1.875rem;
    --z-spacer: 3.125rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAEBD7FF;
    font-family: 'Ubuntu', sans-serif;
}

.dark-mode {
    --color-border: #FFFFFFFF;
    --color-card: #808080FF;
    background-color: #000000FF;
    color: var(--color-border);

}

.container {
    width: 100%;
    margin-top: var(--spacer);
}

.center-text {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin-inline: 0.9375rem;
}

.poke-list {
    display: flex;
    flex-wrap: wrap;
}

.sprite {
    width: 8.125rem;
    aspect-ratio: 1;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: none;
}

.pokemon-card {
    border: 2px solid var(--color-border);
    border-radius: 0.9375rem;
    width: calc(20% - var(--spacer));
    aspect-ratio: 1;
    margin: 0.9375rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-card);
}

.capitalize {
    text-transform: capitalize;
}

@media (min-width: 1600px) {
    .pokemon-card {
        width: calc(12.5% - var(--spacer));

    }
}

@media (max-width: 920px) {
    .sprite {
        width: 5.625rem;
    }

    .pokemon-card {
        width: calc(33% - var(--spacer));
        margin: 0.9375rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.pokemon-card__content {
    text-align: center;
    position: relative;
    transition: transform 2s;
    transform-style: preserve-3d;
}

.pokemon-card:hover .pokemon-card__content {
    transform: rotateY(0.5turn);
}


.pokemon-card__back {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: rotateY(.5turn);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;

}

.pokemon-info {
    transform: translateZ(var(--z-spacer));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.pokemon-card__back__content {
    transform: translateZ(var(--z-spacer));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pokemon-card__front {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.bold {
    padding-top: 1.25rem;
    font-weight: var(--font-weigth-bold);
}

.pokemon-card__front__content{
    transform: translateZ(var(--z-spacer));
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


@media (max-width: 433px) {
    .sprite {
        width: 5.625rem;

    }

    .pokemon-card {
        width: calc(100% - var(--spacer));
        height: 9.8125rem;
        display: flex;
    }

    .pokemon-card__back, .pokemon-card__front {
        display: flex;
        flex-direction: row-reverse;
        padding: 0.9375rem;
    }
    .pokemon-card__front{
        align-items: center;
    }
    .pokemon-card__back {
        justify-content: space-between;

    }
    .pokemon-info {
        padding-right: 3.4275rem;
        padding-top: 1.25rem;
    }

    .poke-id {
        padding-right: 0.9375rem;

    }

    .bold {
        padding-top: 0;
    }

    .types-display {
        display: flex;
        flex-wrap: wrap;
    }

    .form-search {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
    }

}

.center-hor {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: var(--z-spacer);
}

.close-button {
    width: 6.25rem;
    height: var(--spacer);
}

.loader-position {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: 1rem solid #f3f3f3;
    border-top: 1rem solid #3498db;
    border-radius: 50%;
    width: 7.5rem;
    height: 7.5rem;
    animation: loading 2s linear infinite;
}

.pokemon-loader-position {
    display: flex;
    justify-content: center;
}

.pokemon-loader {
    border: .8rem solid #f3f3f3;
    border-top: .8rem solid #3498db;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    animation: loading 1s linear infinite;
}

@keyframes loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.btn {
    background-color: var(--color-card);
    color: var(--color-border);
    padding: .5rem;
    border-radius: .25rem;
    font-family: 'Ubuntu', sans-serif;
}

.btn-big {
    margin-bottom: 2rem;
    width: 16rem;
}

.input-text {
    padding: .5rem;
    border-radius: .25rem;
    font-family: 'Ubuntu', sans-serif;
}